/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

body {
  background: #ece5dd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* APP CONTAINER */
.app-container {
  width: 100%;
  max-width: 420px;
  height: 90vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

/* HEADER */
.chat-header {
   box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  padding: 12px;
  color: #6F1D1B;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background:#6F1D1B;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.user-text .username {
  font-size: 15px;
  font-weight: 900;
}

.user-text .status {
  font-size: 12px;
}

/* JOIN PAGE */
.join-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.join-form input {
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #6F1D1B;
  outline: none;
}

.join-form button {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #6F1D1B;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* CHAT MESSAGES */
.chat-messages {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: #ece5dd;
}

.message {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

/* SENDER / RECEIVER */
.sender {
  justify-content: flex-end;
}

.receiver {
  justify-content: flex-start;
}

/* AVATAR FOR RECEIVER */
.msg-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  flex-shrink: 0;
}

/* MESSAGE BUBBLE */
.bubble {
  max-width: 70%;
  padding: 10px 12px;
  border-radius: 18px;
  display: flex;
  align-items: center;
}

.sender .bubble {
  background: #dcf8c6;
  border-bottom-right-radius: 4px;
    background-color: #6F1D1B;
  color: #fff;
  font-weight: 600;
}

.receiver .bubble {
  background: #fff;
  border-bottom-left-radius: 4px;
    background-color: #9C9999;
    font-weight: 600;
}

.msg-text {
  font-size: 14px;
  word-wrap: break-word;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background: #fff;
}

.chat-input input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #6F1D1B;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 0 16px;
  border-radius: 50%;
  border: none;
  background: #6F1D1B;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    align-items: stretch;
  }

  .app-container {
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

